:root {
  --btn-main-color: #FF6600;
  --btn-main-color-text: #FFFFFF;
  --light-text: #5C5B5B;
  --main-dark-text: #000000;
  --secondary-dark-text: #666666;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
